.add-card-body {
    // border: 1px dashed red !important;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
}

// styling for card animation component (<Cards />)
.rccs {
    margin-bottom: 5%;
}

.card-num-input {
    width: 100%;
    margin-bottom: 2%;
}

.card-name-input {
    width: 100%;
    margin-bottom: 2%;
}

.exp-sec-div {
    // border: 1px dashed black;
    width: 100%;
    margin-bottom: 2%;
}

.exp-sec-label-div {
    // border: 1px dashed green;
    width: 100%;
    display: flex;

    .exp-label-div {
        // border: 1px dashed purple;
        width: 50%;
    }

    .sec-label-div {
        // border: 1px dashed pink;
        width: 50%;
    }
}

.exp-sec-input-div {
    // border: 1px dashed blue;
    width: 100%;
    display: flex;

    .exp-input-div {
        width: 50%;
    }

    .sec-input-div {
        width: 50%;
    }
}

.zip-div {
    width: 50%;
    margin-bottom: 4%;
}

.add-card-btn {
    width: 100%;
    padding: 12px 0;
    color: white;
    background: black;
}