@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');

.category-grid {
    margin: 2% 3% !important;
}

.category-card {
    height: 200px;
}

// .category-card::before {
//     opacity: 1;
//     background-color: grey;
//     z-index: 2;
// }

.category-image-wrapper {
    height: 200px;
    background: rgba(53, 53, 53, 0.459);
}

.category-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // opacity: 0.6;
}

.category-text-wrapper {
    margin-top: -25%;
    height: 200px;
    width: 100%;
}

.category-text {
    text-align: center;
    vertical-align: center;
    color: white;
    // text-transform: uppercase;
    font-size: 1rem !important;
    font-family: 'Merriweather', serif;
}