.new-order-modal-body {
    margin-left: 4%;
    margin-right: 4%;
}

.new-order-modal-title {
    font-size: 1.7rem;
    margin-bottom: 5%;
}

.new-order-modal-txt {
    font-size: 0.9rem;
    margin-bottom: 5%;
}

.new-order-modal-btn {
    width: 100%;
    color: white;
    background: black;
    padding: 12px 0;
}