@import url("https://fonts.googleapis.com/css?family=Acme|Montserrat:500&display=swap");
$phone: 400px;
$smallTablet: 520px;
$tablet: 600px;
$largeTablet: 800px;
$smallScreen: 900px;

.main-form {
  padding: 3rem;
  background: #e6ebf5;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  @media screen and (max-width: $smallScreen) {
    flex-direction: column;
  }
}
.link a {
  color: #ef903c;
  &:hover {
    color: #28243d;
    text-decoration: none;
  }
}

.section {
  width: 50%;
  img {
    width: 100%;
  }
}